* {
    margin: 0;
    background: #38656d;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 35%;
    background: #223;
}

form input,
form textarea {
    background: #445;
    color: #fff;
    border-radius: 5px;
    width: 90%;
    outline: 0;
    border: 0;
    margin: 0;
    padding: 10px;
    margin: 10px 0;
}

form button {
    background: rgb(8, 98, 8);
    color: #fff;
    outline: 0;
    border: 0;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
}

form button:hover {
    background: #0ce60cab;
    cursor: pointer;
}

form button:active {
    background: #0ce60cab;
}

#textarea {
    resize: none;
}

#titulo {
    margin-top: 10%;
    color: white;
    text-align: center;
}
